<template name="Modal">

   <div id="modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">New Path</h4>
        </div>
        <div class="modal-body">
          
        {{> NewPath}}
          
        </div>
        <div class="modal-footer">
          <a class="modal-action btn btn-primary disabled create-path-btn" data-dismiss="modal">Create</a>
          <a href="" class="modal-action modal-close btn btn-default delete-path-btn" data-dismiss="modal">Cancel</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</template>


<template name="NewPath">
  <div class="modalcontent">

    <form class="form-horizontal">
      <div class="form-group">
        <select class="form-control" id="event-picker">
          <option class="default-option" value="" disabled selected>Choose an event type</option>
          <option value="keypress">Keypress</option>
          <option id="click-option" value="click">Click</option>
          <option value="time">Time</option>
        </select>
      </div>

      <div class="form-group key-options">
        <label class="control-label col-sm-6" for="key">Key Pressed</label>
        <div class="col-sm-2">
          <input class="form-control" value="" id="key" type="text" placeholder="ex. a" minlength="1" maxlength="1">
        </div>
      </div>

      <div class="form-group time-options">
        <label class="control-label col-sm-5" for="duration">Time Duration</label>
        <div class="col-sm-3">
          <input class="form-control" value="" id="duration" type="number" step="50" min="50" placeholder="ex. 500">
        </div>
        <div class="col-sm-2 addon">
          <span>ms</span>
        </div>
      </div>

      <div class="form-group click-error-msg">
         <span>There are no elements to be clicked in the source frame.</span>
      </div>
    </form>

  </div>

</template>