@import "global.import.less";

header {
  font-size: 18px;
  min-height: 80;
}

.header-row {
  padding: 10px;
  min-height: 80px;
}

.brand-name a {
  color: white;
  font-family: Bukhari;
  font-size: 35px;
  position: relative;
  top: 5px;
  left: 15%;
}
