@import "global.import.less";

p {
	font-family: OpenSans;
	font-weight: 100;
	padding-top: 10px;
}

/* Landing */

.landing {
	// background-color: @blue-base;
	text-align: center;
	min-height: 100vh;
	padding-top: 17%;
	// background-color: @gray;
	// color: @white;
	background: url('/images/landing-bg2.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.landing h1 {
	font-family: Bukhari;
	font-size: 90px;
	line-height: 50px;
}

.landing p {
	font-size: 30px;
}

.signin-btn.btn.btn-default {
	margin-top: 25px;
	padding: 15px 35px;
	border-radius: 0;
	color: #fff;
	background-color: transparent;
	border: #fff solid 2px;
	font-size: 14px;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.signin-btn.btn.btn-default:hover {
	background-color: rgba(255,255,255,0.8);
	color: #302c2d;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}