@import "global.import.less";

body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

p {
	font-family: Lato;
}

/* Landing */

.landing {
	// background-color: @blue-base;
	text-align: center;
	// color: @white;
	min-height: 100vh;
	padding-top: 200px;
}

.landing h1 {
	font-family: Bukhari;
	font-size: 90px;
	line-height: 50px;
}

.landing p {
	font-size: 30px;
}

.landing button {
	margin-top: 25px;
}