.project-edit-container,
// .project-edit-container .row,
// .project-edit-container .row .col,
.project-edit-container .sidenav-container,
.project-edit-container .toolbox-container {
  // FIXME: have to subtract the header height 80px from
  // 100% to get rid of unnecessary scrolling
  // height: 100%;
  height: 100%;
}

.project-edit-container {
	  padding-top: 57px;
}


.workspace-container, .onbottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

// .ontop {
//   z-index: 2;
//   position: absolute;
//   width: 100%;
// }

.toolbox-container, .sidenav-container {
  width: 215px;
  position: absolute;
  top: 0;
  padding-top: 57px;
  z-index: 2;
}

.toolbox-container {
  right: 0;
}

.sidenav-container {
  left: 0;
  border-right: 1px solid #e0e0e0;
}

.collasped-left {
  margin-left: -170px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.collasped-left-completely {
  margin-left: -215px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.expanded-left {
  margin-left: 0;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.collasped-right {
  margin-right: -215px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.collasped-right-completely {
  margin-right: -255px;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.expanded-right {
  margin-right: 0;
  -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

// overshadow

.overshadow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  display: none;
}

.toolbox-container.shadow,
.sidenav-container.shadow {
  z-index: -1;
}
