
.row .sidenav-container {
  padding: 0;
}

.sidenav-container .project-name {
  padding: 10px;
  padding: 10px 0 10px 16px;
  margin-top: -2px;
}

.sidenav-container a, .sidenav-container a:link {
  color: #3e3e3e;
}

.sidenav-container a:hover {
  color: #000;
}

#project-name-sidenav {
  width: 140px;
  background-color: transparent;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}

.sidenav-container .project-name:hover {
  cursor: pointer;
}

.sidenav-toggle {
  float: right;
  font-size: 18px;
  padding-top: 2px;
  padding-right: 15px;
}

.breadcrumb-container {
  background-color: #d9d9d9;
}

.breadcrumb {
  padding: 5px 5px 5px 10px;
  background-color: #d9d9d9;
}

.breadcrumb > li + li:before {
  color: #bbb;
}

.breadcrumb li, .breadcrumb li a {
  white-space: nowrap;
  width: 60px;
  padding: 0;
  overflow: hidden;
  max-height: 1.3em;
  text-overflow: ellipsis;
  font-size: 10px;

}

.trial-item {
  z-index: 2;
  width: 100%;
}

.block-items {
  margin: 10px;
  padding-top: 0px;
  margin-top: -10px;
  background-color: #f2f2f2;
  color: #3e3e3e !important;
}

.block-items .active {
  background-color: #BFBFBF;
}

.block-item {
  position: relative;
}

.block-item-link {
  margin-left: 15px;

}

.block-item .fa-folder,
.block-item .fa-folder-open {
  position: relative;
  bottom: 2px;
  font-size: 20px;
}

.block-item .trial-items,
.block-item .fa-folder-open,
.block-item.is-open .fa-folder,
.block-delete-link,
.collasped-left .block-items {
  display: none;
}

.block-item.is-open .fa-folder-open {
  display: inline-block;
  color: #fff;
}

.block-item.is-open .block-delete-link {
  display: inline-block;
  margin-right: 7px;
}

.block-item.is-open .trial-items {
  display: block;
}

.trial-item {
  position: relative;
  font-size: 13px;
  line-height: 1;
}

.trial-item .fa-file-o {
  position: absolute;
  top: 10px;
}

.block-item-link {
  display: inline-block;
  width: 95px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trial-item-link {
  display: inline-block;
  width: 130px;
  margin-left: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block-delete-link {
  position: absolute;
  right: 4px;
}

.trial-delete-link {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.add-block,
.add-trial {
  cursor: pointer;
  padding: 5px 10px;
  // background-color: #eeece1;
  // border-color: #c4bd97;
  line-height: 16px;
  font-size: 10px;
  border: none;
}

.add-trial {
  width: 100%;
  cursor: pointer;
  color: #448aff !important;
}

.add-block {
  background-color: #e0e0e0;
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  color: #448aff !important;
}

.add-block:hover {
  background-color: #d9d9d9;
  color: #448aff !important;
}


/* show */
.trial-delete-link.show-inline-block {
  display: inline-block;
}

/* collapsible panels */
.panel-default > .panel-heading {
  background-color: transparent;
  padding-bottom: 7px;
}

.is-open .panel-heading {
  background-color: #448aff;
}

.is-open .panel-heading a, .is-open .panel-heading .sidenav-container a:link {
  color: #fff;
}

