@import "global.import.less";

.toolbox-container h3 {
  font-size: 20px;
}

.toolbox-container {
  float: right;
}

.row .toolbox-container.col {
  padding: 0;
}

.toolbox-container .container {
  padding: 20px 10px 10px 0px;
  width: 80%;
}

.trial-paths-row .container, .elt-settings-row .container {
  padding: 10px 5px 20px 0px;
}

.elt-settings-row {
  padding: 10px 15px 10px 5px;
}

/* trial tool box */
.saving-message p, .tracked-tags-header p {
  margin-left: 10px;
}

.trial-paths-row, .elt-settings-row {
  height: 50%;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.path-title, .frame-elements-title {
  font-weight: bold;
}

.add-path:hover {
  cursor: pointer;
}

.element-btn {
  padding-left: 9px;
  padding-right: 9px;
  margin: 3px;
  height: 30px;
  line-height: 30px;
}

.element-btn i {
  font-size: 14px;
}

.add-btn-btn {
  font-size: 12px;
}

.save-btn {
  margin-top: 15px;
}

.toolbox-tab {
  width: 90px;
  height: 40px;
  padding: 8px;
  line-height: 25px;
  text-align: center;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  position: absolute;
  right: 190px;
  top: 120px;
}

.toolbox-tab:hover {
  cursor: pointer; 
}


