@import "global.import.less";

.toolbox-container h3 {
  font-size: 20px;
}

.toolbox-container {
  float: right;
}

.row .toolbox-container.col {
  padding: 0;
}

.toolbox-container .container {
  padding: 20px 10px 10px 0px;
  width: 80%;
}

.trial-paths-row .container, .elt-settings-row .container {
  padding: 10px 5px 20px 0px;
}

.elt-settings-row {
  padding: 10px 15px 10px 12px;
  position: relative;
  z-index: 2;
}

/* trial tool box */
.saving-message label {
  margin-left: 10px;
}

.trial-paths-row, .elt-settings-row {
  position: absolute;
  top: 280px;
  margin-top: 25px;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.toolbox-container .container.trial-states-saving-row {
  height: 270px;
  position: absolute;
  z-index: 2;
  width: 100%;
  padding: 20px 12% 10px 10%;
}

.trial-paths-row {
  padding-top: 20px;
}

.elt-settings-row {
  height: 55%;
}

.path-title, .frame-elements-title {
  // font-weight: bold;
}

.add-path:hover {
  cursor: pointer;
}

.element-btn {
  padding-left: 9px;
  padding-right: 9px;
  margin: 3px;
  height: 30px;
  line-height: 30px;
}

.element-btn i {
  font-size: 14px;
}

.add-btn-btn {
  font-size: 12px;
}

.save-btn, .remove-elt, .save-changes-btn {
  padding: 0px 20px;
  font-size: 14px;
}

.add-frame {
  margin-top: 10px;
}

.save-btn {
  margin-top: 20px;
  margin-left: 2px;
}

.toolbox-tab {
  width: 90px;
  height: 40px;
  padding: 8px;
  line-height: 25px;
  text-align: center;
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  position: absolute;
  right: 189px;
  top: 120px;
}

.toolbox-tab:hover {
  cursor: pointer; 
}

.num-occurences-container span {
  font-size: 0.9rem;
}

.num-occurences-container {
  margin-top: 10px;
}


/* custom evo colorpicker styles */

.evo-colorind {
  position: relative;
  bottom: 36px;
  left: 36px;
}

.evo-pop {
  position: absolute;
  right: 230px;
  bottom: 40px;
  width: 220px;
}


