/* blockworkspace */
/* trialworkspace */

// jsPlumb requires the container to have position: relative
// and movable elements to have position: absolute
.trial-workspace-container {
  position: relative;
}

.trial-preview-item-container .trial-preview-item,
.frame-preview-item-container .add-frame-container {
  cursor: pointer;
  margin: 10px;
  padding: 10px 0;
  height: 200px;
}

.workspace-container, .frame-workspace-container {
  width: 100%;
  height: inherit;
}

.frame-preview-item,
.add-frame-item {
  position: absolute;
  width: 150px;
  height: 150px;
  padding: 16px;
  z-index: 4;
  border: 1px solid #2e6f9a;
  box-shadow: 2px 2px 19px #e0e0e0;
  -o-box-shadow: 2px 2px 19px #e0e0e0;
  -webkit-box-shadow: 2px 2px 19px #e0e0e0;
  -moz-box-shadow: 2px 2px 19px #e0e0e0;
  -moz-border-radius: 8px;
  border-radius: 8px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: move;
  background-color: white;
  font-size: 11px;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.frame-preview-item-container .add-frame-container {
  line-height: 175px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.trial-preview-item .trial-name,
.frame-preview-item .frame-name {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.trial-preview-item .trial-frames,
.trial-preview-item .trial-occurences {
  text-indent: 20px;
}

.frame-preview-item .add-frame-text {
  text-align: center;
}

.frame-preview-item .btn-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 67px;
  text-align: center;
}
