/* blockworkspace */
/* trialworkspace */

// jsPlumb requires the container to have position: relative
// and movable elements to have position: absolute
.trial-workspace-container {
  position: relative;
}

.trial-preview-item-container .trial-preview-item,
.frame-preview-item-container .add-frame-container {
  cursor: pointer;
  margin: 10px;
  padding: 10px 0;
  height: 200px;
}

.workspace-container,
.frame-workspace-container {
  width: 100%;
  height: inherit;
  position: relative;
  z-index: 2;
}

.frame-workspace-container,
.trial-workspace-container {
  // position: relative;
  width: 100%;
  height: 100%;
  // z-index: 0;
}

.frame-name {
  text-transform: uppercase;
}

.frame-preview-item {
  position: absolute;
  width: 150px;
  height: 100px;
  padding: 16px;
  z-index: 4;
  border: 1px solid #bdbdbd;
  box-shadow: 2px 2px 19px #e0e0e0;
  -o-box-shadow: 2px 2px 19px #e0e0e0;
  -webkit-box-shadow: 2px 2px 19px #e0e0e0;
  -moz-box-shadow: 2px 2px 19px #e0e0e0;
  -moz-border-radius: 8px;
  border-radius: 8px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  cursor: move;
  background-color: white;
  font-size: 11px;
  -webkit-transition: background-color 0.25s ease-in;
  -moz-transition: background-color 0.25s ease-in;
  transition: background-color 0.25s ease-in;
}

.frame-preview-item-container .add-frame-container {
  line-height: 175px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.trial-preview-item .trial-name,
.frame-preview-item .frame-name {
  font-weight: bold;
  font-size: 1.1em;
  text-align: center;
}

.trial-preview-item .trial-frames,
.trial-preview-item .trial-occurences {
  text-indent: 20px;
}

.frame-preview-item .add-frame-text {
  text-align: center;
}

.frame-preview-item .btn-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 67px;
  text-align: center;
}

.frame-edit-btn, .frame-remove-btn {
  padding: 0 7px;
  height: 30px;
  line-height: 30px;
  margin: 2px;
  position: relative;
  bottom: 15px;
}

.frame-edit-btn i, .frame-remove-btn i {
  font-size: 16px;
}

.ep {
  margin-bottom: 7px;
}

.click-toast {
  position: absolute;
  bottom: 30px;
  margin: 0 auto;
  width: 300px;
}

.icon {
  font-size: 30px;
  display: none;
  position: relative;
  bottom: 20px;
}

.enter, .exit {
  border-radius: 15px;
  width: 90px;
  height: 90px;
}

.enter button, .exit button {
  display: none;
}

.enter .icon.icon-enter {
  display: block;
}

.exit .icon.icon-exit {
  display: block;
}