<!-- Should be placed inside left column container -->

<template name="SideNav">
  <div class="project-name blue lighten-5 accent-3 white-text">
    {{projectName}}
  </div>
  <ul class='block-items white'>
    {{#each blocks}}
      <li class='block-item'>
        <a href='#' class='block-item-link'>
          {{name}}
          <i class="fa fa-chevron-down"></i>
          <i class="fa fa-chevron-right"></i>
        </a>
        <ul class='trial-items'>
          {{#each trials _id}}
            <li class='trial-item'>
              <a href='#' class='trial-item-link'>{{name}}</a>
              <!-- <a href='#' class='trial-edit-link'>
                <i class="fa fa-pencil"></i>
              </a> -->
              <a href='#' class='trial-delete-link'>
                <i class="fa fa-remove fa-fw"></i>
              </a>
            </li>
          {{/each}}
          <a class="add-trial">+ Add Trial</a>
        </ul>
      </li>
    {{/each}}
    <a class="add-block">+ Add Block</a>
  </ul>
</template>
