<!-- Should be placed inside left column container -->

<template name="SideNav">
  <div class="project-name grey darken-2 white-text">
    <input type="text" value="{{projectName}}" id="project-name-sidenav" />
    <i class="fa fa-bars sidenav-toggle"></i>
  </div>
  <div class="breadcrumb-container">
    <ol class="breadcrumb">
      <li class="{{#if isBlockView}}active{{/if}} block-breadcrumb"><a href="#">{{block.name}}</a></li>
      <li class="{{#if isTrialView}}active{{/if}} trial-breadcrumb"><a href="#">{{trial.name}}</a></li>
      <li class="{{#if isFrameView}}active{{/if}} frame-breadcrumb">{{frame.name}}</li>
    </ol>
  </div>
  <ul class='block-items panel-group'>
    {{#each blocks}}
      <li class="block-item panel panel-default">
        <div class="panel-heading">
          <i class="fa fa-fw fa-folder"></i>
          <i class="fa fa-fw fa-folder-open"></i>
          <a href='#' class='block-item-link' data-toggle="collapse">
            {{name}}  
          </a>
          <a href='#' class='block-delete-link'>
            <i class="fa fa-remove fa-fw"></i>
          </a>
        </div>
        <ul class='trial-items list-group'>
          {{#each trials _id}}
            <li class='trial-item {{#if isActiveTrial}}active-background{{/if}} list-group-item'>
              <i class="fa fa-fw fa-file-o"></i>
              <a href='#' class='trial-item-link'>{{name}}</a>
              <a href='#' class='trial-delete-link'>
                <i class="fa fa-remove fa-fw"></i>
              </a>
              <a href='#' class='trial-copy-link'>
                <i class="fa fa-files-o"></i>
              </a>
            </li>
          {{/each}}
          <div class="add-trial btn btn-default">+ ADD TRIAL</div>
          </ul>
          <!-- not using an icon looks better IMO -->
          <!-- <i class="fa fa-plus fa-fw"></i> -->
          
      </li>
    {{/each}}
    <a class="add-block btn btn-default">+ ADD BLOCK</a>
  </ul>
</template>
