<!-- <head>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.ico?v=2">
  <link rel="image_src" href="http://cornellcoursereview.me/fbimg.png" />
  <meta property='og:image' content='http://cornellcoursereview.me/fbimg.png'/>
  <meta property="og:title" content="Cornell Course Review">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://cornellcoursereview.me/">
  <meta property="og:site_name" content="Cornell Course Review">
  <meta property="og:description" content="Cornell Course Review is a collaborative website that helps students select the best classes to enroll.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<template name="Layout">
  <body>
    <div class="content-block">
      {{> yield "content"}}
    </div>
  </body>
</template> -->

<head>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png?v=2">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.ico?v=2">
  <link rel="image_src" href="http://cornellcoursereview.me/fbimg.png" />
  <!-- <meta property='og:image' content='http://cornellcoursereview.me/fbimg.png'/> -->
  <title>OnboardIQ: Command Center</title>
  <meta property="og:title" content="OnboardIQ: Command Center">
  <meta property="og:type" content="website">
  <!-- <meta property="og:url" content="http://cornellcoursereview.me/"> -->
  <meta property="og:site_name" content="OnboardIQ: Command Center">
  <meta property="og:description" content="Command Center for OnboardIQ agents.">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
</head>

<template name="Layout">
  {{> yield "content"}}
</template>
