<template name="Landing">
<div class="landing purple">
  <div class="row">
    <div class="col m12">
      <h1>
        Skeema
      </h1>
      <p>
        Make your own experiments
      </p>
      <button class="btn btn-large waves-effect waves-light white grey-text">Sign In</button>
    </div>

  </div>
</div>

</template>


<!-- 
<div>
  {{> Nav}}
</div>

<div class="container search-container">
  <div class="row">
    <div class="col-md-12 col-centered">
      <h2 class="landing-title desktop"><span id="cornell-title">CORNELL</span> COURSE REVIEW</h2>
      <div class="mobile landing-title">
        <div class="cornell-title">CORNELL</div>
        <div>COURSE REVIEW</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-centered">
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="form-control input-lg main-search-bar" autocomplete="off" spellcheck="off" placeholder="Search classes" name="course" />
          {{#if getCourses}}
          <div class="search-results">
             <span id="dummy">Courses</span>
            {{#each getCourses}}
            <div class="search-result">
              <div><span class="catalog-no">{{{catalog}}}</span>&nbsp;&nbsp;
              {{{titleLong}}}</div>
            </div>
            {{/each}}
          </div>
          {{/if}}
          <span class="input-group-btn">
            <button class="btn btn-info btn-lg" type="button" disabled>
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

{{>Footer}}
</div> -->


