<template name="BlockToolBox">
	<div class="container block-toolbox-container">
		<div class="row block-toolbox-row">
		  <div class="col-xs-12">
    	  <label for="blockname">Block Name</label>
	      <input value="{{ block.name }}" id="blockname" type="text">
			</div>
			<div class="col-xs-12">
        <input type="checkbox" class="filled-in randomize-input" id="randomize"
        	checked="{{block.randomize}}">
        <label for="randomize">Randomize Trials</label>
      </div>
		</div>
	</div>
</template>