<template name="FrameToolBox">
  {{> FrameSettings}}
  {{> ElementSettings}}
</template>

<template name="FrameSettings">
    <!-- Trial ID: {{ trial._id }} -->
    <div class="container frame-settings-row grey darken-2">

      <div class="row">
        <div class="col s12">
            <label for="framename">Frame Name</label>
            <input value="{{ frame.name }}" id="framename" type="text">
        </div>
      </div>

      <label class="frame-elements-title">Add Element</label><br>
      
      <span class="btn white-text grey darken-3 element-btn add-text-btn">
        <i class="fa fa-font"></i>
      </span>

      <!-- using a label tag is necessary -->
      <label class="file-upload-container">
        <input class="file-upload-input" type="file" />
        <a class="btn waves-effect waves-light grey darken-3 element-btn add-img-btn"><i class="fa fa-file-image-o"></i></a>
      </label>

      <span class="btn white-text grey darken-3 element-btn add-btn-btn">BUTTON</span>

      <div class="btn-container">
        <span class="btn blue lighten-5 accent-3 white-text save-btn">Save Changes</span>
      </div>

    </div>

</template>

<!-- TODO: MAKE ANOTHER SECTION, MOVE THIS ONE UP -->
<template name="ElementSettings">

  <div class="elt-settings-row grey darken-3 white-text">
    <div class="row">
      <div class="col s12">

      {{#if selectedIsText}}

        {{> TextSettings}}

      {{/if}}


      {{#if selectedIsButton}}

        {{> ButtonSettings}}

      {{/if}}

      {{#if selectedIsImage}}

        {{> ImageSettings}}

      {{/if}}

      </div>
    </div>


  </div>

</template>


<template name="TextSettings">
  <p class="frame-elements-title">Text Element</p>
  <!-- <label for="element-content">Content</label>
  <input value="{{ textContent }}" id="element-content" type="text"> -->

  <div class="demoPanel" style="width:100px">
    <label>Text Color</label>
    <input id="text-colorpicker" value="{{color}}" type="text" />
  </div>

  <div class="fontsize-container">
    <label for="framename">Font Size</label><br>
    <input value="{{ fontSize }}" id="fontsize" type="number" step="1" min="1">
  </div>

  <div class="btn-container">
    <button class="btn remove-elt grey darken-2 white-text">Remove Element</button>
  </div>

</template>

<template name="ButtonSettings">
  <p class="frame-elements-title">Button Element</p>

  <div class="demoPanel" style="width:100px">
      <label>Text Color</label>
      <input id="button-text-colorpicker" value="{{color}}" type="text" />
  </div>

  <div class="demoPanel" style="width:100px">
      <label>Background Color</label>
      <input id="button-bg-colorpicker" value="{{backgroundColor}}" type="text" />
  </div>

  <div class="fontsize-container">
    <label for="framename">Font Size</label><br>
    <input value="{{ fontSize }}" id="button-fontsize" type="number" step="1" min="1">
  </div>

  <div class="btn-container">
    <button class="btn remove-elt grey darken-2 white-text">Remove Element</button>
  </div>
</template>

<template name="ImageSettings">
  <p class="frame-elements-title">Image Element</p>

  <div class="btn-container">
    <button class="btn remove-elt grey darken-2 white-text">Remove Element</button>
  </div>

</template>
