<template name="FrameToolBox">
  {{> FrameSettings}}
  {{> ElementSettings}}
</template>

<template name="FrameSettings">
    <!-- Trial ID: {{ trial._id }} -->
    <div class="container frame-settings-row">

      <div class="row">
        <div class="col s12">
            <label for="framename">Frame Name</label>
            <input value="{{ frame.name }}" id="framename" type="text">
        </div>
      </div>

       <p class="frame-elements-title">Add Elements</p>
          <a class="btn waves-effect waves-light blue lighten-5 accent-3 element-btn add-text-btn">
            <i class="fa fa-font"></i>
          </a>
          <a class="btn waves-effect waves-light blue lighten-5 accent-3 element-btn add-img-btn">
            <i class="fa fa-file-image-o"></i>
          </a>
          <a class="btn waves-effect waves-light blue lighten-5 accent-3 element-btn add-btn-btn">Button</a>

    </div>

</template> 

<!-- TODO: MAKE ANOTHER SECTION, MOVE THIS ONE UP -->
<template name="ElementSettings">

  <div class="elt-settings-row grey darken-3 white-text container">

      {{#if selectedIsText}}
        <div class="row">
          <div class="col s12">
            <p class="frame-elements-title">Text Element</p>
            <label for="element-content">Content</label>
            <input value="{{ element.content }}" id="element-content" type="text">
         
            <div id="cpb" class="demoPanel" style="width:170px">
              Event binding:<br/>
              change.color and mouseover.color<br/><br/>
              <input id="cp1"/><br/> 
            </div>
          </div>
        </div>

      {{/if}}


      {{#if selectedIsButton}}
        <div class="row">
          <div class="col s12">
            <p class="frame-elements-title">Button Element</p>
            <label for="element-content">Content</label>
            <input value="{{ element.content }}" id="element-content" type="text">
          </div>
        </div>
      {{/if}}

  </div>

</template>