<template name="TrialToolBox">
  	<!-- Trial ID: {{ trial._id }} -->
    <div class="container trial-states-saving-row">
      <div class="saving-message">
        I want to save...
      </div>
      <div class="row saving-elems-container">
        <div class="col s12 exit-path-container">
          <input type='checkbox' class='filled-in exit-path-input' id='exit-path-input'>
          <label for='exit-path-input'>Exit path</label>
        </div>
        <div class="col s12 time-elapsed-container">
          <input type='checkbox' class='filled-in time-elapsed-input' id='time-elapsed-input'>
          <label for='time-elapsed-input'>Time elapsed</label>
        </div>
      </div>
    </div>

    <div class="container trial-paths-row">
    
      <!-- FIXME: pathc collection doesn't exist yet -->
      {{#each paths}}
        {{> path}}
      {{/each}}
    </div>
</template> 