<template name="TrialWorkSpace">
  <div class="trial-workspace-container">  
    <div class="row frame-items-container">
      <div class="frame-items">
        {{#each withIndex frames}}
          {{> FrameItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>
<!-- 
<template name="FrameItems">
  <div class="frame-items">
    {{#each withIndex frames}}
      {{> FrameItem}}
    {{/each}}
  </div>
</template>
 -->

<template name="FrameItem">
  <div id="{{_id}}" class="frame-preview-item cyan lighten-5">
    <div class='frame-name'>{{name}}</div>
    <div class="ep"></div>
    <div class="btn-container">
      <button class="frame-edit-btn waves-effect waves-light btn">Edit</button>
    </div>
  </div>
</template>
