<template name="TrialWorkSpace">
  <div class="trial-workspace-container">  
    <div class="row frame-items-container">
      <div class="frame-items">
        {{#each withIndex frames}}
          {{> FrameItem}}
        {{/each}}
      </div>
    </div>
  </div>
</template>


<template name="FrameItems">
  <div class="frame-items">
    {{#each withIndex frames}}
      {{> FrameItem}}
    {{/each}}
  </div>
</template>


<template name="FrameItem">
  <div id="{{_id}}" class="frame-preview-item {{type}} {{isStart}}">
    <div class='frame-name'>{{name}}</div>
    <div class="ep"></div>
    <div class="btn-container">
      <button class="frame-edit-btn waves-effect waves-light blue lighten-5 accent-3 btn white-text"><i class="fa fa-pencil"></i></button>
      <button class="frame-remove-btn waves-effect waves-light blue lighten-5 accent-3 btn white-text"><i class="fa fa-trash"></i></button>
      <button class="frame-copy-btn waves-effect waves-light blue lighten-5 accent-3 btn white-text"><i class="fa fa-files-o"></i></button>

      <span class="icon icon-exit"></span>
    </div>
  </div>
</template>
